.wrapper
  = render "posts/header"
  .bookmark__content
    .bookmark__content__tops
      %h2=link_to "お気に入り一覧", user_path(current_user.id)
      .bookmark__content__tops__list
        - @bookmarks.each do |bookmark|
          = link_to image_tag(bookmark.post.image), post_path(bookmark.post_id), class: "bookmark-image"
          



