.wrapper
  = render "header"
  .content-destroy
    .content__destroy__main
      %h2 削除完了しました。
      %br
      = link_to '投稿一覧へ戻る', root_path, style: 'padding: 10px',class: "content__main__btn__destroy"